.todo-grid, 
.todo-input-grid
{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 12px;
  row-gap: 16px;
  align-items: center;
}

body{
  font-family: Arial;
}

.todo-input-grid{
  margin-bottom:16px;
  align-items: stretch;
}

.name-input,
.js-date-input
{
  font-size: 15px;
  padding: 10px;

}


.add-todo-button{
  background-color: green;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.delete-todo-button{
  background-color: darkred;
  color: white;
  border: none;
  font-family:system-ui;
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 10px;
}

