body{
  background-color: rgb(38, 33, 33);
}

h1{
  color: white;
  font-size: 50px;
}


.js-result{
  font-size: 30px;
  color: antiquewhite;
  font-weight: bold;
}


.js-moves{
  color: antiquewhite;
  font-weight: bold;
  font-size: 30px;
}

.js-score{
  color: antiquewhite;
  font-weight: bold;
  font-size: 30px;
}


.move-icon{
  height: 40px;

}

.move-button{
  background-color: transparent;
  border: 2px solid;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;


}


.js-reset-score-button,
.js-autoplay
{
  width: 20%;
  padding: 10px;
  border-radius: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  font-size: larger;
}
